AIRFLOW_UID=50000
POSTGRES_USER=airflow
POSTGRES_PASSWORD=change_me
POSTGRES_DB=airflow
AIRFLOW__CORE__FERNET_KEY=replace_with_generated_fernet_key
AIRFLOW__API_AUTH__JWT_SECRET=replace_with_secure_jwt_secret
AIRFLOW__API_AUTH__JWT_ISSUER=airflow
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow

AIRFLOW_CONN_DATABRICKS_DEFAULT=databricks://:replace_with_databricks_pat@dbc-xxxxxxxx.cloud.databricks.com
DATABRICKS_HOST=dbc-xxxxxxxx.cloud.databricks.com
DATABRICKS_TOKEN=replace_with_databricks_pat_with_sql_scope
DATABRICKS_HTTP_PATH=/sql/1.0/warehouses/replace_me
DATABRICKS_CATALOG=crypto-data-pipeline
DATABRICKS_SCHEMA=bronze
DATABRICKS_TABLE=coingecko_market_data

DBT_TARGET=prod
DBT_TARGET_SCHEMA=silver
